a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
  background-color: green;
  font-family: monospace;
  color: white;
  text-align: center;
}

h1 {
  font-size: 32px;
  margin: 12px 0 6px;
}

#game-board {
  padding: 16px;
}

#draw-area {
  height: 150px;
  padding: 16px;
}

#build-area {
  padding: 16px;
}

.card-zone {
  height: 160px;
  width: 110px;
  border-radius: 5px;
  background-size: cover;
  border: 1px dashed white;
  margin: 0 12px;
  cursor: pointer;
  background-position: center;
}

.card-back {
  background-image: url("images/card_back.jpg");
  border: none !important;
}

.upturned-card {
  border: none !important;
  cursor: pointer;
}

#deck, #drawn-card {
  float: left;
}

#deck.empty-deck {
  background: pink !important;
}

#home-zones > div {
  float: right;
  position: relative;
}

.suits-setup {
  background-size: 90px;
  background-repeat: no-repeat;
  background-position: 10px 27px;
}

.build-column {
  float: right;
  position: relative;
  height: 160px;
  width: 110px;
  margin: 0 12px;
}

.build-column .card-selector {
  position: absolute;
  height: 160px;
  width: 110px;
  border-radius: 5px;
  background-size: cover;
}

.selected {
  box-shadow: inset 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.errored {
  box-shadow: inset 0px 0px 0px 5px rgba(255, 0, 0, 0.5);
}

.blank-card {
  height: 100%;
  width: 100%;
}

.homezoned-card {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-size: cover;
}

.no-border {
  border: none !important;
  padding: 1px;
}


#current-deck-card {
  height: 100%;
  width: 100%;
  background-size: cover;
}
